* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid lightgray; */
}

:root {
    --main-color: #fff;
    --highlight-color: #f00;
    --accent-color: #DB4D4D;
}

body {
    background-image: url("../images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: var(--main-color);
    font-family: 'Nirmala UI', Arial, Helvetica, sans-serif;
}

.graident-blur {
    width: 100vw;
    height: 100vh;
    
    background: linear-gradient(217deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,0,.8), rgba(0,0,0,0) 70.71%);
}

.main-grid {
    height: 100vh;
    min-width: 40%;
    max-width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    border-left: 2px solid var(--accent-color);
    border-right: 2px solid var(--accent-color);
    padding: 0 15px;
    background-color: rgba(0,0,0,.50);
    backdrop-filter: blur(3px);
}

.active {
    color: red;
}

/* HEADER SECTION */
.header-grid{
    height: 160px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title title image"
        "nav nav image" ;
    padding: 5px 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.25);
}

header p {
    font-size: 32px;
    letter-spacing: .25em;
    grid-area: title;
}

.nav {
    grid-area: nav;
}

.nav-links {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.nav-links li {
    margin-right: 35px;
    list-style: none;
    font-size: 16px;
    letter-spacing: .2em;
}

.avatar {
    height: 145px;
    width: 145px;
    border-radius: 50%;
    grid-area: image;
    background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(255,0,170,1) 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.avatar img {
    height: 98%;
    width: 98%;
    border-radius: 50%;
    border: 4px solid black;
}

/* MAIN SECTION */

.content-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 25px 2fr;
    grid-template-areas: 
        "status status status recent"
        "stream stream stream videos";
    height: 500px;
    align-items: center;
    column-gap: 15px;
}

.status {
    grid-area: status;
    text-align: left;
}

.recent {
    grid-area: recent;
    text-align: center;
    
}

.twitch {
    grid-area: stream;
    min-width: 300px;
    max-width: 700px;
    align-self: right;
    border: 3px solid var(--accent-color);
}

.twitch .twitch-video {
    padding-top: 56.25%;
    position: relative;
    height: 0;
  }
  
  .twitch .twitch-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  
section {
    grid-area: videos;
    text-align: center;
    min-width: 200px;
    max-width: 500px;
    border: 3px solid var(--accent-color);
}

/* FOOTER SECTION */

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}

footer i {
    font-size: 28px;
    margin-bottom: 5px;
}

.social-media {
    margin: 0 20px;
}